* {
    border: 0cap;
    margin: 0;
    box-sizing: border-box;

}

body {
    display: flex;

}

main {
    width: 78%;
}

.img {border-radius: 50%;
width: 160px;
height: 160px;
object-fit: cover;
margin-top: 20px;
margin-left: 10%; }

#meio {
    width: 100%;
    display: flex;
    height: 100vh;
}

#meio>* {
    width: 50%;
}

.cabecario {
    background-color: rgb(255, 255, 255);
    width: 22%;
    height: 963px;
    text-align: center;
    position: sticky;
    top:0;
    list-style: none;
}
.popins {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 26px;
    margin-left: 10%; 
}
.selecao{
    font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;   
     list-style: none;
     color: rgb(59, 59, 59);
     background-color: rgb(24, 228, 58);
     position: fixed
     
}
.form{
text-align: center;
padding-top:25em;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
   
    
}

.ww{
    padding-top: 2em;
    border: 2px solid;

}

#imagem{
height: 100%;
object-fit: cover;
}
.titulo2{
    color: #ededed;
    font-size: 70px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 250px;
    left: 0;
}
.hello{
    font-size: 24px;
    color: #bfbfbf;
    position: relative;
    z-index: 3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-top: -80px;

}
.baixo{
    font-size: 40px;
    color: #000000;
    position: relative;
    z-index: 3;
   font-weight: bold;
  font-family: 'stylesheet', Arial, sans-serif;


}
#texto {
    position: relative;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gold{
    font-size: 40px;
    color:#ccb78f;
    position: relative;
    z-index: 3;
   font-weight: bold;
  font-family: 'stylesheet', Arial, sans-serif;
}
.txt3{
    font-size: 40px;
    color:#000000;
    position: relative;
    z-index: 3;
   font-weight: bold;
  font-family: 'stylesheet', Arial, sans-serif;
}
.txt4{
    font-size: 40px;
    color:#000000;
    position: relative;
    z-index: 3;
   font-weight: bold;
  font-family: 'stylesheet', Arial, sans-serif;
}
.txt5{

font-size: 18px;
    color:#000000;
    position: relative;
    z-index: 3;
   font-weight: bold;
color: #999999;
font-family: "Montserrat", sans-serif;

  font-weight: 400;
  font-style: normal;
}

.nav {list-style: none;
left: 300px;}

.nav>a {
    color: #000000;
    font-weight: bold;
    
}
.bnt{
    font-size: 40px;
    color:#000000;
    position: relative;
    z-index: 3;
    font-family: 'Herr Von Muellerhoff', cursive;
}
.ty{
    width: 20px;
    height: 20px;
    top:440px;
    left: 1088px;
}
.ft_baixo{
    font-size: 16px;
    text-align: center;
   font-weight: bold;
color: #000000;
font-family: Poopins, Arial, Helvetica, sans-serif;

}
.ft1{
height: 200px;
text-align: center;
}
.mulheres{
  left: 1000px;
  object-fit: cover;

}
.rodape{
    margin-left:0%;
    background:#181818;
    color:#fff;


    display:flex;
    justify-content:center;
    gap:100px;


    padding:90px 60px;
}
.bloco{
    display:flex;
    flex-direction:column;
    gap:30px;
    width:320px;
}
.bloco h4{
    letter-spacing:3px;
    font-size:22px;
}
.mini-galeria{
    display:flex;
    flex-wrap:wrap;
    gap:0;
}


.mini-galeria img{
    width:100px;
    height:100px;
    object-fit:cover;
}






.archives{
    display:flex;
    flex-direction:column;
    gap:20px;
}


.archives div{
    display:flex;
    justify-content:space-between;


    color:#999;
    font-size:18px;


    border-bottom:1px solid #2b2b2b;
    padding-bottom:10px;
}






.contato{
    display:flex;
    flex-direction:column;
    gap:28px;


    color:#aaa;
    line-height:1.7;
    font-size:18px;
}


.copyright{
    margin-left:22%;
    background:#181818;
    color:#999;


    display:flex;
    justify-content:center;


    padding:30px;
    font-size:18px;
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}


body{
    background:#f5f5f5;
}






.container{
    display:flex;
    min-height:100vh;
}


.sidebar{
    width:22%;
    background:#f3f3f3;


    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;


    padding:40px 20px;
}


.perfil{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;
}


.perfil img{
    width:130px;
    height:130px;
    border-radius:50%;
    object-fit:cover;
}


.perfil h2{
    font-size:20px;
    font-weight:bold;
}






.menu{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:28px;
}


.menu a{
    text-decoration:none;
    color:#444;
    font-size:20px;
    font-weight:600;
}


.menu .ativo{
    color:#000;
    text-decoration:underline;
}






.newsletter{
    display:flex;
    flex-direction:column;
    gap:15px;
    align-items:center;
}


.input-box{
    display:flex;
    border:1px solid #ddd;
    background:#fff;
}


.input-box input{
    border:none;
    padding:14px;
    outline:none;
}


.input-box button{
    border:none;
    background:#fff;
    padding:14px;
    cursor:pointer;
}






.imagem-centro{
    width:38%;


    display:flex;
}


.imagem-centro img{
    width:100%;
    height:100vh;
    object-fit:cover;
}


.conteudo{
    width:40%;
    padding:120px 80px;


    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:28px;
}


.nome-bg{
    font-size:72px;
    font-weight:bold;
    color:#ececec;
}


.conteudo h1{
    font-size:56px;
    line-height:1.3;
    font-weight:bold;
}


.conteudo h1 span{
    color:#bda16f;
}


.conteudo p{
    font-size:22px;
    line-height:1.8;
    color:#888;
}


.conteudo h4{
    font-family:cursive;
    font-size:34px;
}






.redes{
    display:flex;
    gap:18px;
}


.redes a{
    width:45px;
    height:45px;
    border-radius:50%;
    background:#fff;


    display:flex;
    justify-content:center;
    align-items:center;


    text-decoration:none;
    color:#000;
    font-size:20px;
}






.instagram{
    margin-left:22%;
    background:#fff;


    display:flex;
    flex-direction:column;
    align-items:center;
    gap:40px;


    padding:50px;
}


.instagram h3{
    letter-spacing:4px;
    font-size:24px;
}


.galeria-topo{
    display:flex;
    gap:0;
}


.galeria-topo img{
    width:220px;
    height:200px;
    object-fit:cover;
}






.rodape{
    margin-left:22%;
    background:#181818;
    color:#fff;


    display:flex;
    justify-content:center;
    gap:100px;


    padding:90px 60px;
}


.bloco{
    display:flex;
    flex-direction:column;
    gap:30px;
    width:320px;
}


.bloco h4{
    letter-spacing:3px;
    font-size:22px;
}






.mini-galeria{
    display:flex;
    flex-wrap:wrap;
    gap:0;
}


.mini-galeria img{
    width:100px;
    height:100px;
    object-fit:cover;
}






.archives{
    display:flex;
    flex-direction:column;
    gap:20px;
}